.header{
    text-align: center;
    margin-top: 20px;
    color: orange;
}
.books-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.book-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

/* cart container components section  */

.book-container{
    background-color: rgb(231, 239, 245);
    padding: 10px;
}
.cart-bg{
    background-color: rgb(255, 230, 183);
      position: sticky;
      margin-top: 54px;
      height: 1525px;
}
.remove-btn{
    background-color: orange;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}


    


